.container{ /*Wraps all of the content*/
  display: grid; 
  border: 5px;
  border-style: solid;
  border-color: white;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.leftcolwrapper{ /*Wraps the left columnav*/
  grid-column: 1/2; 
  min-height: 100vh; 
}
.columnavbar{ /*Columnav same for left and right*/
  border:5px;
  border-style: solid;
  border-color: white;
  padding: 20px;
  background-color: rgb(218, 214, 214);
  min-height: inherit;
  max-height: 100vh;
  color: hsla(61, 14%, 93%, 1);
}
.contentlistbar{
  overflow-y: scroll;
  max-height: calc(100vh - 50px); 
  margin-top: 20px;
}
.mainwrapper{
  grid-column: 2/3; 
  min-height: 100vh;
}
.main{
  border: 5px; 
  border-style: solid; 
  border-color: white; 
  padding: 20px; 
  background-color: rgb(223, 209, 190); 
  min-height: inherit; 
  color: hsla(61, 14%, 93%, 1);
}
.rightcolwrapper{
  grid-column: 3/4;
  min-height: 100vh;
}




/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(223, 209, 190); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  rgb(206, 161, 102); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}