    /*Describing the frame of the website*/
   .container {
     margin-top: 100px; /*Margin to overcome an "always on top item"*/
     display: grid;
     grid-template-columns: 1fr 1000px 1fr;
     grid-template-rows: auto;
   }
    /*Describing fonts*/
   h1,h3,p {
     font-family: 'Archivo', sans-serif;
   }
    /*This menu should be always on top, we will make a dedicated class for that purpose*/
   .menu{
       display: flex;
       flex-flow: wrap;
       color: hsla(61, 14%, 93%, 1);
       background-color: rgb(206, 161, 102);
       /*justify-content: space-around; /*non funziona insieme a grow e margin auto*/
      }
      .hiddenmenu{
        position: fixed;
        display: none;
        top: 57.44px; /*Margin to overcome an "always on top item"*/
        color: hsla(61, 14%, 93%, 1);
        background-color: rgb(155, 101, 30);
        }
       /*This class is created to make an item always on top*/
       .menu {
         position: fixed;
         top: 0;
         left: 0;
         right: 0;
       }
      /*Vertical menu*/
     .vertmenu{
       display: none;
       margin-left: 20px;
       background-color: rgb(200, 200, 202);
       min-width: 200px;
       width: 50%;
       min-height: 80vh;
       margin-top: 10px;
       margin-bottom: 10px;
       overflow-y: scroll;
    }
    .main{
      grid-column: 2/3;
      margin: 10px;
      min-height: 100vh;
    }
    .footer{
      display: block;
      padding: 100px; 
      background-color:rgb(79, 79, 82);
    }
    .menubar {
      display: flex;
      align-items: stretch; /* Default */
      justify-content: space-evenly;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .menubaritem {
      display: block;
      flex: 0 1 auto; /* Default */
      list-style-type: none;
      width: 300px;
      text-align: center;
    }
    .vertbaritem {
      display: block;
      flex: 0 1 auto; /* Default */
      list-style-type: none;
    }
