/*Menu should be always on top*/
.fixer{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.menubar {
  display: flex;
  text-align: center;
  max-height: 57.44px;
  color: hsla(61, 14%, 93%);
  background-color: rgb(206, 161, 102);
}
.menubaritem {
  flex-grow: 1;
}
.hiddenmenu{
  visibility: hidden;
  background-color: inherit;
  opacity: 0.9;
}
.menubaritem:hover .hiddenmenu {
  visibility: visible;
  display:flex;
  flex-flow: column;
}
.menubaritem:hover{
  background-color: rgb(155, 101, 30);
}

ul.ulmenu{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

