/*Menu should be always on top*/
.fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.menu{
  display: flex;
  color: hsla(61, 14%, 93%);
  background-color: rgb(206, 161, 102);
  }
.menubar {
  display: flex;
  width: 100%;
}
.menubaritem {
  list-style-type: none;
  text-align: center;
  width: 20%;
}
.hiddenmenu{
  position: fixed;
  display: none;
  top: 57.44px; /*Margin to overcome an "always on top item"*/
  background-color: inherit;
  opacity: 0.9;
  width: calc(20%);
}

