/*Resetting values*/
body,h1{
  margin:0;
  padding: 0px;
}
a:link, a:hover {
  text-decoration: none;
}
a, a:visited, a:hover, a:active {
  color: inherit;
}
h1,h3,p,ul,li {
  font-family: 'Archivo', sans-serif;
}
