  /*Resetting values*/
  body{
    margin:0;
    padding: 0px;
}
/*
h1{
    margin: 0px;
}
*/
a:link, a:hover {
  text-decoration: none;
}
a, a:visited, a:hover, a:active {
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
}

.menubaritem:hover .hiddenmenu {
  display:block;
}
